bytewax
orjson
pydantic
PyGithub
icecream
confluent-kafka
kafka-python-ng
aiohttp
pydantic-settings
pytest
langchain
langchain-community
langchain-core
langchain-openai
qdrant_client
streamlit
qdrant-client
openai
pandas
beautifulsoup4
tiktoken